body {
    background-color:rgb(0, 128, 90);
}

.container-fluid{
    border-radius: 0px;
    font-size:20px;
}

a.navbar-brand {
    font-size: 25px;
}
#main-content{
    padding: 15px;
    background-color:rgb(0, 255, 106);
    border: 2px solid #3F0C1F;
    text-align: justify;
}

#heading{
    text-align:center;
    font-size:30px;
    padding-bottom: 10px;
}